.SideBar{
  background-color: #6c757d;
  width: 20%;
    height: -moz-calc(100% - (20px + 30px));
    height: -webkit-calc(100% - (20px + 30px));
    height: calc(100% - (20px + 30px));
}
.SideList{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.SideList li{
  display: block;
  padding-right: 18px;
  list-style-type: none;
}
